* {
    margin: 0;
    padding: 0;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

.todoTitle {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 100px;

}

.todoSub {
    float: right;
}

.todoDelList {
    float: right;
    color: #409EFF !important;
    text-align: center;
    font-size: 25px;

}

.todoDelList:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #F56C6C !important;
}

.todoNum {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #F56C6C ;
    text-align: center;
    border-radius: 50%;
    color: white;
    line-height: 27px;
    margin-left: 10px;
    margin-right: 10px;
}
.NumGreen {
    background-color: #67C23A;
}
.todoList {
    margin-left: 30px;
}

.todoLi {
    border: solid 1px #f0f0f0;
    padding: 20px;
    font-size: 18px;
}

.todoSub > input {
    outline: none;
    width: 330px;
    border-width: 1px;
    padding: 3.6px 0;
    border: #DCDFE6 solid 1px;
    border-right: none;
    border-radius: 7px 0px 0px 7px;
}

.todoSub > button {
    background-color: white;   
    color: #409EFF;
    border: #DCDFE6 solid 1px;
    padding: 2px 20px;
    box-sizing: border-box;
    border-radius: 0 7px 7px 0;
    
}

.todoSub > button:hover {
    background-color: #1890ff;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.todoContan {
    width: 70%;
    margin: auto;
}

.todoH1 {
    font-size: 40px;
    text-align: center;
    background-color:  #409EFF;
    color: white;
}

.todoSub > button > span {
    margin-left: 10px;

}

.todoIcon {
    font-size: 18px;
    margin-right: 20px;
}

.todoReturn {
    float: right;
    color: #409EFF !important;
    text-align: center;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

.todoReturn:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #E6A23C !important;
}

.Finished li {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.55);
}

input[type=checkbox] {
    position: relative;
    opacity: 0;
    z-index: 2;
    width: 18px;
    height: 18px;
    margin: 0;
    cursor: pointer;
}

input[type=checkbox] + label {
    position: relative;
    overflow: visible;
    cursor: pointer;
    padding-left: 6px;
}

.labelCheck:before, .labelCheck:after {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -18px;
    height: 20px;
    width: 20px;
    margin-top: -9px;
    content: "";
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 50%;
}

input[type=checkbox]:checked + label:after {
    -webkit-animation: zoom 0.5s ease;
    animation: zoom 0.5s ease;
    content: "✓";
    line-height: 17px;
    font-size: 25px;
    text-align: center;
    color: #1890ff;
    font-weight: bold;
}

.labelCheck2:after, .labelCheck2:before {
    border: none !important;
    cursor: default !important;
}

#checkFin {
    cursor: default !important;
}

@keyframes zoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}